.navbar {
	display: flex;
	background-color: transparent;
	color: #fff;
	padding: 10px 20px;
	width: 90%;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	gap: 35px;
}

.navbar-logo {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
}

.menu-icon {
	display: none;
	cursor: pointer;
}

.menu-icon__line {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 5px;
}

.nav-menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	transition: all .2 linear;
}

.nav-item {
	margin: 0 10px;
}

.nav-link {
	font-size: 18px;
	text-decoration: none;
	color: #fff;
}

.nav-link:hover {
	color: black;
}

.navbar-buttons {
	display: flex;

}

.navbar-buttons button {
	padding: 6px 16px;
	border: 1px transparent;
	margin-left: 15px;
	border-radius: 9px;
	cursor: pointer;
	background: black;
	color: white;
}

.navbar-buttons button:hover {
	padding: 6px 16px;
	margin-left: 15px;
	border-radius: 9px;
	cursor: pointer;
	background: white;
	color: black;
	opacity: .7;
}

@media screen and (max-width: 768px) {
	.menu-icon {
		display: block;
		z-index: 2;
		position: absolute;
		right: 15px;
	}

	.menu-icon:hover {
		background-color: black;
	}

	.menu-icon__line:hover {
		width: 25px;
		height: 3px;
		background-color: #fff;
		margin: 5px;
	}

	.nav-menu {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		background-color: #333;
		padding: 10px 0;
	}

	.nav-item {
		margin: 10px 0;
	}

	.nav-link {
		font-size: 16px;
	}

	.nav-menu.active {
		display: flex;
		margin-top: 0;
		height: 100vh;
		z-index: 1;
		justify-content: center;
		top: 0;
	}

}