.navbar {
	max-width: 1440px;
	width: 98%;
	height: 65px;
	margin: 0px auto;
	justify-content: space-between;
	display: flex;
	flex-direction: row;
	padding: 6px;
	background: #94a3b8;
	border-bottom: 1px solid white;
	border-top: 1px solid white;
}


.navbar-link-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 15px;
	list-style-type: none;
	cursor: pointer;
}

.navbar-link-container li:nth-child(1) {
	color: white;
	font-size: 1.2rem;
}

.navbar-link-container li:hover {
	color: white;
}

.navbar-buttons-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.navbar-buttons-container button {
	margin-right: 10px;
	border: none;
	border-radius: 0;
	background: transparent;
	cursor: pointer;
}

.navbar-buttons-container button:nth-child(1) {
	color: black;
}

.navbar-buttons-container button:nth-child(1):hover {
	color: white;
}

.navbar-buttons-container button:nth-child(2) {
	color: white;
}

.navbar-buttons-container button:nth-child(2):hover {
	color: black;
}